body {
    font-family: 'Roboto', sans-serif;
}
.h1-color {
    color: #2A347C;
}

.bg-circe {
    background-color: #4383A5;
    color: #fff;
}
.bg-footer-circe{
    background-color: #68A4C4;
    color: #fff;
}
.check-ft {
    color: #36B92F;
}
.btn-circe-blue {
    background-color: #2A347C;
    color: #fff;
    transition-duration: 0.4s;
    border-radius: .50rem;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

}
.btn-circe-blue:hover{
    background-color: #172265;
    color: #fff;
    transition-duration: 0.4s;
    border-radius: .50rem;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}